*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.post{
    display: flex;
    padding: 15px;
    border: 2px solid #ccc;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}
.postItem-enter {
    opacity: 0;
}
.postItem-enter-active {
    opacity: 1;
    transition: all 500ms ease-in;
}
.postItem-exit {
    opacity: 1;
}
.postItem-exit-active {
    opacity: 0;
    transition: all 500ms ease-in;
}
